<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>912519236690-naacigan2vv8d5m8tunv3qiin9n33uk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912519236690-naacigan2vv8d5m8tunv3qiin9n33uk4</string>
	<key>API_KEY</key>
	<string>AIzaSyAN8-1nzGa65fl_B71FQaLpOzIVSYmb_sM</string>
	<key>GCM_SENDER_ID</key>
	<string>912519236690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fchen.TasteOfHome</string>
	<key>PROJECT_ID</key>
	<string>noms-51115</string>
	<key>STORAGE_BUCKET</key>
	<string>noms-51115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:912519236690:ios:55d013cf434b4af0</string>
	<key>DATABASE_URL</key>
	<string>https://noms-51115.firebaseio.com</string>
</dict>
</plist>